/* TEXT */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: xx-large;
  }

h2, h3 , h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  p {
    font-family: monospace;
  }
  
/* NAV BAR */
  
.customNav {
  position: fixed;
  width: 100%;
  background-color: rgba(3, 4, 57, 0.384) !important;
  background-size: cover;
  z-index: 10;
  }

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  }

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
  }

.nav-item {
  margin: 0px 15px;
  }

.customNav a {
  color: white !important;
  }

.navCTA {
  font-size: 15px;
  }
  
 
/* JUMBOTRON  */

.jumbotron {
  background-image: url(../Images/AMGR\ Grand\ Canyon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboCopy {
  width: 100%;
  min-width: 700px;
  max-width: 700px;
  color: white;
  text-align: center;
}
  
/* CONTENT */

.content {
  
  color: #000000;
  width: max-content;
  height: auto;
  align-items: center;
  
}

.about {
  background-color: rgb(197, 206, 233);
  padding: 30px;
  color: rgb(255, 255, 255);
   width: 80%;
  margin: 15px;
  
}

.work {
  background-color: silver;
  padding: 30px;
  color: rgb(255, 255, 255);
   width: 40%;
  margin: 15px;
}

.contactMe {
  background-color: rgb(130, 197, 180);
  padding: 30px;
  color: rgb(255, 255, 255);
  width: 20%;
  margin: 15px;
}

.valueProp {
  margin-top: 20px;
  margin-bottom: 20px;
}
